In [1]:
import setup_django

setup_django.init()

In [2]:
from movies.models import Movie
qs = Movie.objects.all().values('title', 'release_date', 'rating_avg', 'rating_count')
qs

<MovieQuerySet [{'title': 'Four Rooms', 'release_date': datetime.date(1995, 12, 9), 'rating_avg': Decimal('3.80'), 'rating_count': 5}, {'title': 'Judgment Night', 'release_date': datetime.date(1993, 10, 15), 'rating_avg': Decimal('2.80'), 'rating_count': 5}, {'title': 'Star Wars', 'release_date': datetime.date(1977, 5, 25), 'rating_avg': Decimal('3.67'), 'rating_count': 6}, {'title': 'Forrest Gump', 'release_date': datetime.date(1994, 7, 6), 'rating_avg': Decimal('2.75'), 'rating_count': 4}, {'title': 'Citizen Kane', 'release_date': datetime.date(1941, 4, 30), 'rating_avg': Decimal('3.50'), 'rating_count': 2}, {'title': '2001: A Space Odyssey', 'release_date': datetime.date(1968, 4, 10), 'rating_avg': Decimal('2.67'), 'rating_count': 6}, {'title': 'Twelve Monkeys', 'release_date': datetime.date(1995, 12, 29), 'rating_avg': Decimal('1.80'), 'rating_count': 5}, {'title': 'Before Sunrise', 'release_date': datetime.date(1995, 1, 27), 'rating_avg': Decimal('3.43'), 'rating_count': 7}, {'title': 'Blade Runner', 'release_date': datetime.date(1982, 6, 25), 'rating_avg': Decimal('2.50'), 'rating_count': 4}, {'title': 'Leon: The Professional', 'release_date': datetime.date(1994, 9, 14), 'rating_avg': Decimal('3.75'), 'rating_count': 4}, {'title': 'Taxi Driver', 'release_date': datetime.date(1976, 2, 7), 'rating_avg': Decimal('4.00'), 'rating_count': 4}, {'title': 'Three Colors: Blue', 'release_date': datetime.date(1993, 1, 10), 'rating_avg': Decimal('4.00'), 'rating_count': 5}, {'title': 'Three Colors: White', 'release_date': datetime.date(1994, 1, 26), 'rating_avg': Decimal('1.25'), 'rating_count': 4}, {'title': 'Three Colors: Red', 'release_date': datetime.date(1994, 5, 27), 'rating_avg': Decimal('3.20'), 'rating_count': 5}, {'title': 'Pretty Woman', 'release_date': datetime.date(1990, 3, 23), 'rating_avg': Decimal('1.00'), 'rating_count': 2}, {'title': 'Maybe... Maybe Not', 'release_date': datetime.date(1994, 10, 5), 'rating_avg': Decimal('2.80'), 'rating_count': 5}, {'title': "Breakfast at Tiffany's", 'release_date': datetime.date(1961, 10, 5), 'rating_avg': Decimal('2.75'), 'rating_count': 4}, {'title': '20,000 Leagues Under the Sea', 'release_date': datetime.date(1954, 12, 23), 'rating_avg': Decimal('2.67'), 'rating_count': 3}, {'title': 'Blown Away', 'release_date': datetime.date(1994, 7, 1), 'rating_avg': Decimal('3.00'), 'rating_count': 5}, {'title': 'Star Trek: Generations', 'release_date': datetime.date(1994, 11, 17), 'rating_avg': Decimal('3.50'), 'rating_count': 2}, '...(remaining elements truncated)...']>

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(qs)
df.head(n=10)

                    title release_date rating_avg  rating_count
0              Four Rooms   1995-12-09       3.80             5
1          Judgment Night   1993-10-15       2.80             5
2               Star Wars   1977-05-25       3.67             6
3            Forrest Gump   1994-07-06       2.75             4
4            Citizen Kane   1941-04-30       3.50             2
5   2001: A Space Odyssey   1968-04-10       2.67             6
6          Twelve Monkeys   1995-12-29       1.80             5
7          Before Sunrise   1995-01-27       3.43             7
8            Blade Runner   1982-06-25       2.50             4
9  Leon: The Professional   1994-09-14       3.75             4